      .song {
        display: flex;
        align-items: flex-start;
        gap: 20px;
        margin-bottom: 30px;
      }

      .song-text{
        width: 300px;
      }

      .side{
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 30px;
      }

      .high{
        height:60px;
      }